.ingredients-form {
  background-color: rgb(204, 204, 204);
  width: 70%;
  /* margin: auto; */
}

.ingredients-input {
  background-color: bisque;
  width: 95%;
  margin: auto;
  border: 1px solid;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.center-vertically {
  justify-content: center;
  padding: 1px;
}

.delete {
  background-color: #d92d2d;
}
.delete:hover {
  background-color: #bb2626;
}

.stacked-buttons {
  width: 10%;
  border: 1px solid;
  margin:auto;
  margin-top: 3px;
  /* border-radius: 5%; */
}

.cancel {
  background-color: lightgray;
}
.cancel:hover {
  background-color: rgb(190, 190, 190);
}