.square-image-small {
  max-height: 200px;
  max-width: 200px;
  width: auto;
  margin: auto;
  left: 15%;
}

.recipe-card {
  height:275px;
  width: 17%;
  display: flexbox;
  margin:1%;
  /* padding:.1%; */
  border: solid black 1px;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
}